/A01_IfStatement.class
/A02_IfElseStatement.class
/A03_IfElseIfElse.class
/A04_SwitchCase.class
/A05_Whilestmt.class
/A08_Forstmt.class
/EX2.class
/EX3.class
/EX4.class
/EX5.class
/PR03_SwitchExercise.class
